@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  /* biome-ignore lint/complexity/noImportantStyles: overrides radix scroll-lock inline style */
  margin-right: 0px !important;
  /* biome-ignore lint/complexity/noImportantStyles: overrides radix scroll-lock inline style */
  --removed-body-scroll-bar-size: 0px !important;
}
